.default {
    font-size: 0.875rem;
    height: 3.75rem;
    font-weight: 600;
    color: #fff;
    background-color: #222;
    border-color: #222;
    box-shadow: none;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0;
    transition: all 0.15s ease-in-out;
    padding: 0.703125rem 3.125rem 0.5625rem;
    text-transform: uppercase;

    &:hover {
        background-color: gray;
        color: #222;
    }
}
