.side-bar {
    position: sticky;
    top: 0;
    right: auto;
    left: 0;
    width: 18.75rem;
    height: 100%;
    padding: 0.375rem 0 0;
    margin-right: 3.75rem;
    z-index: 1;
}

.accordion-item {
    padding-bottom: 1.5rem;
}

.accordion-btn {
    position: relative;
    width: 100%;
    color: var(--black);
    background-color: var(--white);
    font-weight: 500;
    line-height: 1.375;
    outline: none;
    text-transform: uppercase;
    text-align: left;
}

.icon {
    svg {
        position: absolute;
        right: 0;
        top: 10px;
        height: 10px;
        width: 10px;
        color: black;
    }
}

.accordion-body {
    padding-top: 1.5rem;
}

.swatch-color {
    display: block;
    position: relative;
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    border-radius: 50%;
    cursor: pointer;
    transition: outline 0.6s linear;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1rem;
        height: 1rem;
        margin-top: -0.5rem;
        margin-left: -0.5rem;
        border-radius: 100%;
        background-color: currentColor;
        color: inherit;
    }
}

.swatch-active {
    border: 2px solid black;
}

.swatch-size {
    border-color: var(--color-hr);
    background-color: #fff;
}
