.wrapper-slider {
    width: 100%;
}

.sliderCustom {
    margin-right: 30px;
}

.slick-slide {
    width: 218px;
}

.dostClasses {
    display: none;
    visibility: hidden;
}

.item-slider {
    width: 132.857px;
    margin-right: 30px;
}
