.content {
    display: flex;
    gap: 3.625rem;
}

.title-cart-page {
    font-size: 2.1875rem;
    margin-bottom: 3.125rem;
    text-transform: uppercase;
    font-weight: 700;
}

.title-cart-page {
    display: flex;
    gap: 3.635rem;
}

.table-carts {
    width: 630px;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
}

.item-cartItem {
    border-top: 2px solid #e4e4e4;
    transition: all 0.3s ease;
}

.Img-cartItem {
    width: 150px;
    height: 9.071rem;
    display: flex;
    align-items: center;
    gap: 1.875rem;
    object-fit: cover;
}

.color-cartItem,
.size-cartItem {
    color: var(--text-color-gray);
}

.price-cartItem {
    color: var(--text-color-gray);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7143;
}

.position-relative {
    position: relative;
    width: 7.25rem;
}

.controlNumber {
    border: 2px solid #e4e4e4;
    height: 3.125rem;
    padding: 0 2rem;
    min-width: 6.875rem;
    width: 100%;
    background-color: #fff;
    outline: none;
    text-align: center;
}

.reduce,
.increase {
    position: absolute;
    font-size: 1rem;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.reduce {
    left: 1.25rem;
}

.increase {
    right: 1.25rem;
}

.subtotal-itemCart {
    float: none;
    margin: 0;
}

.deleteIcon-cartItem {
    cursor: pointer;
    color: var(--text-color-gray);
    svg {
        width: 10px;
        height: 10px;
    }
}

.sticky-content {
    padding-top: 3.125rem;
    position: sticky;
    top: 0;
    padding-bottom: 1px;
}

.shoppingCart-total,
.sticky-content {
    width: 26.25rem;
}

.sticky-content {
    border: 1px solid #222;
    margin-bottom: 1.25rem;
    padding: 2.5rem 2.5rem 0.5rem;
    max-width: 100%;

    table {
        width: 100%;
    }

    h3 {
        font-size: 1rem;
        text-transform: uppercase;
        margin-bottom: 1.25rem;
    }

    tr {
        border-bottom: 1px solid #e4e4e4;
        font-size: 0.875rem;
        font-weight: 500;
    }

    th {
        text-transform: uppercase;
        font-weight: 500;
        vertical-align: baseline;
        padding: 0.875rem 0;
    }
}

.from-check {
    display: block;
    position: relative;
    min-height: 1.5rem;
    padding-left: 1.625rem;
    margin-bottom: 1rem;
}

.form-check-input-fill,
.checked {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 0px;
    border: 2px solid var(--color-hr);
    float: left;
    cursor: pointer;
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0.125rem;
        top: 50%;
        transform: translateY(-50%);
        width: 0.5rem;
        height: 0.5rem;
        background-color: transparent;

        :checked {
            background-color: #222;
        }
    }
}

.checked {
    &::after {
        background-color: #222;
    }
}
