:root {
    --ds-shadow-border: 0 0 0 1px hsla(0, 0%, 100%, 0.145);
    --ds-shadow-border-medium: var(--ds-shadow-border), 0px 2px 2px rgba(0, 0, 0, 0.32),
        0px 8px 8px -8px rgba(0, 0, 0, 0.16);

    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: var(--ds-shadow-border-medium);

    --black: #222;
    --gray: #faf9f8;
    --text-color-gray: #767676;
    --color-hr: #e4e4e4;
    --bs-gutter-x: 1.875rem;

    --content-space: 2.5rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
}

button {
    border: none;
    background: transparent;
}

form {
    height: 100%;
    width: 100%;
    display: block;
    align-items: center;
    unicode-bidi: isolate-override;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.9375rem 0.9375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.7143;
    color: #222;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.125rem solid #e4e4e4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

label {
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0px;
}

input::placeholder {
    position: absolute;
    /* top: 1rem; */
    /* left: 0.75rem; */
    padding: 0 0.1rem;
    pointer-events: none;
    border: 0.125rem solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    color: #767676;
}

body ::-webkit-scrollbar {
    margin-right: 1.25rem;
    width: 0.25rem;
    height: 0.25rem;
    background-color: #fff;
}

.hidden-scrollbar ::-webkit-scrollbar {
    display: block !important;
}

.faded {
    opacity: 0;
}

.show {
    opacity: 1;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
    transition: all 0.15s ease-in-out;
    font-size: 0.875rem;
    padding: 0.703125rem 3.125rem 0.5625rem;
    background-color: #767676;
}

table {
    thead {
        tr {
            th {
                font-size: 0.875rem;
                text-transform: uppercase;
                font-weight: 500;
                padding: 0 0 0.625rem;
            }
        }
    }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

hr {
    border: none;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 9.844rem;
}

.slick-list {
    height: 100% !important ;
}

/* .slick-slide{
    width: 250px !important;
    margin-right: 30px;
} */

.section-title {
    font-size: 2.1875rem;
}

.effect {
    position: relative;
}
.effect:after,
.effect:before {
    pointer-events: none;
}
.effect:after,
.effect:before {
    pointer-events: none;
}

.row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
}

.section-container {
    width: 1116px;
}

.service-promotion__title {
    color: #222;
    font-weight: 500;
}

.service-promotion__content {
    font-size: 0.9375rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type='checkbox'] {
    border-radius: 0;
}

.menu-link {
    display: inline-block;
    position: relative;
    padding: 0.5em 0;
    color: #222;
    line-height: 1.5em;
}
